.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
}

.nav-bar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  flex-direction: row;
  background: #000;
}
